/*
--thistle: #CEB3C4ff;
--iceberg: #77ABD0ff;
--davys-grey: #54575Fff;
--thistle-2: #CEB3C4ff;
*/
body {
    font-family: 'Courier New', monospace;
    color: black;
    background-image: url('https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Simple-Minimalist-Background-Image.jpg');
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
   
}
h1{
    text-align:center;
}
nav{
    padding:0px;
}
.navbar{
    background-color:rgba(200,200,200,.5);
    color:white;
    padding: 10px;
    border-radius:20px;
    width:300px;
    font-size:20px;
    margin:30px auto;
}
img{
    display:block;
    margin-right:20px;
    border: 4px solid grey;
    
}

.navbar li {
    display: inline-block;
   
}

.welcome {
    text-decoration: underline;
}

.code-photo {
    max-width: 300px;
    float: left;
}

.list {
    clear: both;
    width:300px;
    margin:10px auto;
}

.fake-link {
    text-decoration: underline;
    cursor: pointer;
}

body{
    text-align:center;
    margin:0px;

}
main{
    color:white;
    margin:10px auto;
    width: 60%;
   /* background-color: rgba(200,200,200,.3);*/
    border-radius:10px;
    padding:10px;
}
p{
    margin:0px 20px;
}